{% extends 'base.html' %}
{% load static %}

{% block title %}
    Home
{% endblock title %}
    

{% block body %}
    

    <!-- =============Banner Section============= -->
    <section class="banner-section">
        <div class="container">
            <div class="banner-content  wow fadeInUp" data-wow-delay=".3s">
                <span class="category">
                    Build a better customer experience
                </span>
                <h1 class="title">Get to eplore one of the best Authentivation app</h1>
                <div class="video-button-group">
                    <a href="#0" class="custom-button active">contact to expert</a>
                    <div class="v-button">
                        <!-- <span>watch video</span> -->
                        <a data-rel="lightcase:myCollection" href="https://www.youtube.com/embed/GT6-H4BRyqQ" class="video-button"><i class="flaticon-play-button"></i></a>
                    </div>
                </div>
                <div class="round-shape">
                </div>
            </div>
        </div>
        <div class="maps-shape bg_img bg-contain" data-background="{% static 'assets/images/banner/banner-bg01.png' %}"></div>
        <div class="shape-thumb">
            <img class="wow slideInUp" data-wow-delay=".7s" src="{% static 'assets/images/banner/banner-shape01.png' %}" alt="banner">
        </div>
    </section>
    <!-- =============Banner Section============= -->
    
    <!--=================Chooose Us================= -->
    <section class="choose-us-section padding-top padding-bottom">
        <div class="container">
            <div class="section-header wow fadeInUp">
                <span class="cate">our feature</span>
                <h2 class="title">why choose us</h2>
            </div>
            <div class="row mb-30-none justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="choose-item text-center wow fadeInUp" data-wow-delay=".3s">
                        <div class="choose-thumb">
                            <i class="flaticon-global"></i>
                        </div>
                        <div class="choose-content">
                            <h5 class="title">Global reach and local presence</h5>
                            <p>Amet mus venenatis diccauctor amet amet eget seeacit over
                            eget sempertatio</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="choose-item text-center wow fadeInUp" data-wow-delay=".3s">
                        <div class="choose-thumb">
                            <i class="flaticon-ui"></i>
                        </div>
                        <div class="choose-content">
                            <h5 class="title">customer user experience</h5>
                            <p>Amet mus venenatis diccauctor amet amet eget seeacit over
                            eget sempertatio</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="choose-item text-center wow fadeInUp" data-wow-delay=".3s">
                        <div class="choose-thumb">
                            <i class="flaticon-clock"></i>
                        </div>
                        <div class="choose-content">
                            <h5 class="title">fast & Flexible solutions</h5>
                            <p>Amet mus venenatis diccauctor amet amet eget seeacit over
                            eget sempertatio</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="bb-dashed"></div>
    </div>
    <!--=================Chooose Us================= -->

   
    


    <!--=================Sponsor Section================= -->
    <div class="sponsor-section bg-f3 padding-bottom padding-top">
        <div class="container">
            <div class="sponsor-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="sponsor-thumb">
                            <img src="{% static 'assets/images/sponsor/sponsor01.png' %}" alt="sponsor">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="sponsor-thumb">
                            <img src="{% static 'assets/images/sponsor/sponsor02.png' %}" alt="sponsor">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="sponsor-thumb">
                            <img src="{% static 'assets/images/sponsor/sponsor03.png' %}" alt="sponsor">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="sponsor-thumb">
                            <img src="{% static 'assets/images/sponsor/sponsor04.png' %}" alt="sponsor">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="sponsor-thumb">
                            <img src="{% static 'assets/images/sponsor/sponsor05.png' %}" alt="sponsor">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="sponsor-thumb">
                            <img src="{% static 'assets/images/sponsor/sponsor06.png' %}" alt="sponsor">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="sponsor-thumb">
                            <img src="{% static 'assets/images/sponsor/sponsor07.png' %}" alt="sponsor">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="sponsor-thumb">
                            <img src="{% static 'assets/images/sponsor/sponsor08.png' %}" alt="sponsor">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--=================Sponsor Section================= -->


    
{% endblock body %}
    